.navbar-wrapper
  %nav.navbar.navbar-inverse
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Reddit', root_path, class: 'navbar-brand'
      #navbar.navbar-collapse.navbar-right.collapse
        %ul.nav.navbar-nav
          %li= link_to 'Links', links_path
          = render links_partial_path