.form-comment
  = form_for ([@link, Comment.new]) do |f|
    .input-group-lg
      = f.text_area :body, rows: 3, placeholder: 'Comment...', class: "form-control"
    %p
      %button.btn.btn-lg.btn-primary{:type => "submit"}
        Enviar