<p><%= @link.title %></p>
<% if current_user == @link.user %>
  <%= link_to 'edit', edit_link_path %>
  |<%= link_to 'delete', link_path(@link), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>